@model MVC_StartProject.Models.KategoriTbl

@{
    ViewBag.Title = "KategoriGetir";
    Layout = "~/Views/Shared/KitapLayout.cshtml";
}

<h2>Kategori Bilgisi Güncelleme</h2>
<br />
<br />

@using (Html.BeginForm("KategoriGuncelle", "Kategori", FormMethod.Post))
{
    @Html.HiddenFor(x=>x.ID)
    <div class="form-inline" style="margin-bottom: 20px;">
        @Html.Label("Kategori Adı")
        @Html.TextBoxFor(x=>x.KategoriAd, new { @class="form-control", @style="margin-left: 20px;" })
    </div>

    <button class="btn btn-success btn-block" style="width: 315px;"> Değişiklikleri Kaydet </button>
}